<html>

<head>
    <title>Movie Database - Add Director</title>
</head>

<body>
<font color="red"><span th:text="${errorMessage}"></span></font>
<form method="post">
    Username : <input type="text" name="username"/>
    <br>
    Password : <input type="password" name="password"/>
    <br>
    Name : <input type="text" name="name"/>
    <br>
    Surname : <input type="text" name="surname"/>
    <br>
    Nationality : <input type="text" name="nationality"/>
    <br>
    Platform ID : <input type="number" name="platformId"/>
    <br>
    <input type="submit"/>
</form>
</body>

</html>