<html>
    <head>
        <title>Movie Web Application - Audience Interface</title>
    </head>
    <body>
        Welcome <span th:text="${username}">!!</span>
        <br>
        <font color="red"><span th:text="${operationStatus}"></span></font>
        <br>
        <a href="/list-movies">Click here</a> to see all movies.<br>
        <a href="/buy-ticket">Click here</a> to buy a ticket.<br>
        <a href="/subscribe-to-platform">Click here</a> to subscribe to a platform.<br>
        <a href="/rate-movie">Click here</a> to rate a movie.<br>
        <a href="/my-tickets">Click here</a> to list my tickets.<br>
    </body>
</html>